<%= render 'layouts/header' %>
<%= render 'layouts/nav' %>
<div class="container">
    <section class="main">
        <%= notice %>
        <table>
            <thead>
                <tr>
                    <th>地點</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </section>
    <section class="layouts/sidebar">
    </section>
</div>