<div class="landing_page">
  <div class="content">
    
    <article>
      <header>
        <h1>GoGoDiary</h1>
        <strong>幫您解決記錄的問題</strong>
      </header>
      <section>
        <h2>三大特色</h2>
        <h3>地圖探索 + 口袋清單</h3>
        <ul>
          <li>尋覓巷弄間的美食資訊、周遭景點</li>
          <li>放進口袋清單，下次拜訪</li>
        </ul>
      </section>
      <section>
        <h3>標籤系統</h3>
        <ul>
          <li>建立專屬於自己的分類貼紙</li>
          <li>方便日記分類搜尋</li>
          <li>讓日記擁有更多亮點</li>
        </ul>    
      </section>
      <section>
        <h3>草稿清單</h3>
        <ul>
          <li>減緩您編輯日記的時程壓力</li>
          <li>提醒您還有哪些日記尚在編輯中，讓您不健忘</li>
        </ul>
      </section>
    </article>
  </div>
  <div class="linkbar">
    <%= link_to 'SIGN IN',root_path %>
    <%= link_to 'SIGN UP',new_user_registration_path %>
  </div>
</div>
