<div class="header">
  <ul>
    <li class='logo'><%= link_to 'GoGoDiary', root_path %></li>
    <li class='search-bar'><%= link_to 'Search', '#' %></li>
    <li class='list'>
      <%= link_to '#' do %>
        <div>列表</div>
      <% end %>
    </li>
    <li class='picwall'>
      <%= link_to '#' do %>
        <div>照片牆</div>
      <% end %>
    </li>
  </ul>
</div>
