<div class="wrap">

<%= render 'header' %>
<%= render 'nav' %>
<div class="container">

  <div class="main">
    <span class="year">2019</span>
    <span class="month">6</span>

    <a class="diary" href="#">
      <div class="items">
        <div class="date">
          <span class="day">10</span>
          <span class="week">一</span>
        </div>

        <div class="info">
          <div class="content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta beatae consectetur, autem cupiditate similique numquam excepturi soluta iste repudiandae neque iure eos! Ipsam eius omnis numquam sit? Dolorum, expedita itaque?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta beatae consectetur, autem cupiditate similique numquam excepturi soluta iste repudiandae neque iure eos! Ipsam eius omnis numquam sit? Dolorum, expedita itaque?</p>
          </div>
          <div class="location">台北市中正區</div>
        </div>

        <div class="pic">
          <img src="https://picsum.photos/200/300/?random" alt="diary picture">
        </div>

      </div>
    </a>
  </div>

  
  <div class="sidebar">
    <%= render 'sidepocket' %>
    <%= render 'sidedraft' %>
  </div>

</div>


</div>


