.tags{
  padding: 0 10px;
}
.tag-item{
  padding: 3px 12px;
  background-color: #ddd;
  border-radius: 6px;
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  height: 28px;
}
.tag-item:before{
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  height: 2px;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-right: 14px solid #ddd;
  border-radius: 8px;
  left: -12px;
  top: -1px;
}
.tag-item:after{
  content: '';
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  left: 0px;
  top: 11px;
}

.TagItems, .UserTags, .SearchTags{
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  max-height: 200px;
  overflow-y: scroll;
}
.TagItems:before{
  content:'已貼上的標籤：';
  display: block;
  width: 100%;
  margin-bottom: 10px;
  color: #333;
}
.TagItems:after{
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ccc;
  margin-top: 30px;
}

.NewTag{
  height: 50px;
  margin-top: 10px;
  &:before{
    content: '';
    display: block;
    margin-bottom: 10px;
    color: #333;
  }
  input{
    height: 30px;
    padding: 6px 10px;
    margin-right: 10px;
  }
}
.UserTags{
  width: 100%;
  margin-top: 10px;
  max-height: 140px;
  &:before{
    content: '快速貼上您現有的標籤:';
    display: block;
    width: 100%;
    margin-bottom: 10px;
    color: #333;
  }
  .tag-item{
    background-color: #eee;
    color: #777;
  }
  .tag-item::before{
    border-right: 14px solid #eee;
  }
  .tag-item:after{
    background-color: #777;
  }
}
.SearchTags{
  a{
    margin: 5px 2px;
  }
}

.NewTag.setting{
  input{
    margin-top: 10px;
  }
  margin-top: 0;
  &:before{
    display: none;
  }
}
.setting-tag-content{
  width: 100%;
  .items{
    margin-bottom: 5px;
    height: 50px;
    padding: 0 10px;
    display: flex;
    flex-flow: nowrap;
    justify-content: flex-end;
    align-items: center;
    .tag-item{
      margin-bottom: 0px;
      margin-right: auto;
    }
    .item-edit{
      margin-right: 10px;
    }
    .item-edit, .item-delete{
      background-color: #fefefe;
    }
  }
  .items:hover{
    background-color: #eee;
  }
  
}
