.show-diary{
  width: 100%;
  .date, .location, .content, .tag, .btn-link{
    padding: 15px 10px;
  }
  .picture{
    width: 100%;
    img{
      width: 100%;
    }
  }
  .date{
    font-size: 20px;
    color: #777;
    padding: 20px 10px;
  }
  .location{

  }
  .content{
    line-height: 28px;
    
  }
  .tags{
    display: flex;
    justify-content: flex-start;
    flex-flow: wrap;
    margin: 10px 0;
  }
}  //End .show-diary