.sidebar-pocket, .sidebar-draft{
  header{
    text-transform: uppercase;
    font-size: 24px;
    padding: 10px 0 5px;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
}
.sidebar-pocket, .sidebar-draft{
  color: #777;
  position: relative;
  height: 300px; 
  padding-bottom:30px;
  .more{
    color: #777;
    position: absolute;
    bottom: 5px;
    right: 10px;
    &:hover{
      color: #333;
    }
  }
}
.sidebar-pocket .sidebar-list{
  color: #333;
  .date{
    width: 40%;
  }
  .location{
    width: 60%;
  }
  &:hover{
    opacity: .8;
  }
}

.sidelink{
  display: block;
}

.sidebar-draft .sidebar-list{
  color: #333;
  .date{
    width: 30%;
  }
  .content{
    width: 50%;
  }
  .pic{
    width: 20%;
    overflow: hidden;
    img{
      width: 100%;
      vertical-align: middle;
    }
  }
  &:hover{
    opacity: .8;
  }
}

.sidebar-list{
  margin: auto;
  padding: 10px 0;
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  align-items: center;
  .date{
    font-size: 18px;
    div{
      text-align: center;
      line-height: 18px;
    }
    .month{
      &:after{
      content: '/';
     }
    }
    .week{
      font-size: 14px;
      text-align: center;
      &:before{
        content: '星期'
      }
    }
  }
  .location{
    font-size: 16px;
  }
}
