<div class="diarywrap">

  <%= render 'layouts/header' %>
  <%= render 'layouts/nav' %>
  <div class="container">

    <section class="main no_draft">
      You have no drafts
    </section>


    <section class="sidebar">
      <%= render 'layouts/sidepocket' %>
    </section>
  </div>